.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.playBtn{
  margin-top: 40px;
  margin-left: 39%;
  height: 65px;
  width: 120px;
  border-radius: 9px 3px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 35px;
  color: #4ECCA3;
  background-color: darkviolet;
  border: 2px solid rgb(6, 2, 6);
  cursor: pointer;

}

.playBtn:hover{
  background-color: rgb(113, 0, 113);
  color: #01714b;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
