body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  color: #40514E;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color:#EAF6F6;
}


hr{
  border: 9px dotted #EAF6F6;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;

}

.liverpool {
  border-radius: 70%;
}

.game {
  border-radius: 50%;
}

h1 {
  margin-top: 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 2rem;
  margin: 50px auto 0 auto;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Spline Sans', sans-serif;
  font-size: 2em;
  font-weight: normal;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Spline Sans', sans-serif;
  color: #11999E;
  font-size: 1em;
}

.top-container {
  background-color: #EAF6F6;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.des {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 350px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  top: 300px;
  left: 300px;
  margin-bottom: 200px;
}

.mountain {
  padding-top: 100px;
  padding-bottom: 30px;
}

.liverpool {
  margin-top: 10px;
}

.skill-row {
width: 50%;
margin:100px auto 100px auto;
text-align: left;
}

.piano {
  width:25%;
  float: left;
  margin-right: 30px;
}

.game{
    width:25%;
    float: right;
    margin-left: 30px;
}

  .btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999);
    background-image: -o-linear-gradient(top, #11cdd4, #11999);
    background-image: linear-gradient(to bottom, #11cdd4, #11999);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
  font-family: 'arial', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

.intro {
  width:30%;
  margin:auto;
}

p{
  line-height:2;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.copyright {
  color:#EAF6F6;
  font-size: 0.75rem;
  padding:20px 0;
}
